<header>
  <h1>{{title}}</h1>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/help.html">Help</a></li>
    <li><a href="/bad">Bad</a></li>
  </ul>
</header>